<h1 class= "header">Artists</h1>
<div class="container">
	<div class="rows">
		<% @artists.each do |artist| %>
			<div class="col-md-4">
			<div class="panel-group">
				<div class="panel panel-default">
					<div class="panel-heading">
						<%= link_to artist.artist_name, artist%>
					</div>
					<div class="panel-body">
						<%= image_tag artist.photo, :alt=>"No photo", :size=>"320x250" %>
					</div>
				</div>
			</div>
			</div>
		<% end %>
		<div class="text-center">
		</div>
	</div>
	<div>
		<%= link_to 'New Artist', new_artist_path %>
	</div>
</div>


