</br>
<div class="container">
	<div class="text-center">
		<h1>About MusicFund</h1></br>
		<p>
			MusicFund started in 2010 still on-going today. 
		</p>
		<p>
			Crowdfunding and supporting your favourite artists to play on different countries!
		</p>
		</br>
		<p>
			Please tweet #MusicFund
		</p>
	</div>
	</br>
	<div class="text-center">
		Support your favourite acts now!
		</br>
		<p><%= link_to "Vote your favourite artist now!", artists_path  %></p>
	</div>
</div>


