<h1 class="header">WELCOME TO MUSIC FUND</h1>

<div class="container">
	You want to log in? <%= link_to "Log in now!", login_path%>
	</br>
	or you want to join the  #MusicFundFamily <%= link_to "Sign up now!", new_user_path %>
</div>

</br> </br> </br> </br> </br>

<h1 class="header">STAY CONNECTED</h1>
<div class="container">
	Connect with me: <%=link_to "My Github account", 'https://github.com/CKate' %>
</div>