/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

html {
  position: relative;
  min-height: 100%;
}
body{
	font-family: 'Quicksand', sans-serif;
	font-size: 20px;
	background-image: url("bgpanelbody.jpg");
	/* Margin bottom by footer height */
	margin-bottom: 60px;
 }
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-image: url("bg.jpg");
}

 .noticeMessage{
	color: red;
 }
 .formPanel{
	margin: 0 auto;
	width: 50%;
 }
.panel > .panel-heading{
	background-image: url("bg2.jpg");
}

.panel > .panel-body{
	background-image: url("bgpanelbody.jpg");
}
 .panel > .panel-default{
	background-image: url("bg.jpg");
	border: 10px solid;
	padding: 0px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
 }
 
 .navbar-default{
	background-image: url("bg.jpg");
	padding-top: 10px;
 }
 .navbar-default .navbar-brand{
	font-family: 'Indie Flower', cursive;
	font-size: 60px;
	padding-top: 20px;
	color: #ff00ff;
 }
 
 .navbar-default .navbar-brand a:hover{
	color: #ffffff;
 }
 
 .nav.navbar-nav li a{
	color: #ffffff;
 }
 
 .nav.navbar-nav li a:hover{
	color: #ff00ff;
 }
 
 .nav.navbar-nav.navbar-right li{
    color: #ffffff;
 }
 .nav.navbar-nav.navbar-right li a:hover{
    color: #ff00ff;
 }
 
.header{
	font-family: 'Indie Flower', cursive;
	font-size: 48px;
	text-align: center;
}
 
 a{
	color: #ff00ff;
 }
 
 .form-horizontal{
	margin: 0 auto; 
	width:250px;
 }
 
.img-rounded{
	border: 2px solid;
	padding: 5px 5px 5px 5px;
	border-image: url(bg.jpg) 60 stretch;
}
 
 
 
