// Place all the styles related to the Artists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.header{
	padding-top: 20px;
	font-family: 'Indie Flower', cursive;
	font-size: 48px;
	text-align: center;
}

.img-rounded{
	border: 2px solid;
}

.form-horizonatl .form-group{
	text-align: center;
}

.col-md-4 .artistphoto{
	color: purple;
}
